# vim: ft=yaml
{
    branches: [ "main" ],
    plugins: [
        '@semantic-release/commit-analyzer',
        '@semantic-release/release-notes-generator',
        '@semantic-release/changelog',
        ['@semantic-release/exec', {
             "prepareCmd": "./build/publish.sh ${nextRelease.version}",
             "publishCmd": "./build/publish.sh ${nextRelease.version}"
        }],
        ['@semantic-release/git', {
          assets: [ "CHANGELOG.md", "README.md", "deploy/**" ]
        }],
        '@semantic-release/github'
    ]
}
